{{outlet}}

<div class="panel panel-default">
  <div class="panel-heading"><h2>{{model.title}}</h2> -{{model.name}}</div>
  <div class="panel-body">
    <p>{{model.body}}</p>
    {{update-question question=model update="update"}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2>Community Answers</h2></div>
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
