{{outlet}}

<div class="panel panel-default">
  <div class="panel-heading"><h2>{{model.title}}</h2> -{{model.name}}</div>
  <div class="panel-body">
    <p>{{model.body}}</p>
    {{update-question question=model update="update"}}
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading"><h2>Community Answers</h2></div>
  <ul class="list-group">
  {{#each model.answers as |answer|}}
    <li class="list-group-item">
      <h5>{{format-date answer.date_added}} {{answer.name}} says: </h5> {{answer.body}}
      <!-- <button class="btn btn-danger" {{action 'destroyQuestion' question}}>Delete</button> -->
    </li>
  {{/each}}
  </ul>
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
